<%= image_tag(@page.page_path) %>
<div class="like">
<% if @user.voted_for? @page %>
<%= button_to "unlike", like_page_path(@page), method: "post" %>
<% else %>
<%= button_to "Like", like_page_path(@page), method: "post" %>
<% end %>
<p><%= @page.votes_for.size %> liked this</p>

</div>
</br>

<div class="form">
<%= form_tag(comment_page_path(@page), method: "post") do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:comment, "Comment:") %>
  <%= text_area_tag(:comment) %>
  <%= submit_tag("Submit") %>
<% end %>
<p> Comments</p>
</div>

<div class="comments">

<% @page.comments.recent.all.each do |c| %>

<!-- <p>Title</p> -->
<h4> <%= c.title %> </h4>
<!-- <p>Comment</p> -->
<h> <%= c.comment %> </h>
</br>
<p> <%= c.user.nil? ? 'anonymous' : c.user.username %> </p>
<hr>
<% end %>
</div>
</br>